* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
}
header{
    width: 100%;
    color: #d2d6e0;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
main{
    display: flex;

}
.todo {
    width: 30%;
    max-width: 540px;
    border-radius: 10px;
}
.drap-n-drop{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tasks{
    height: 100%;
    min-height: 600px;
}