ul {
    margin-left: 10px;
}

.item {
    position: relative;
    list-style: none;
    font-size: 17px;
    margin-bottom: 10px;
    width: 250px;
    height: 55px;
    box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
    border-radius: 40px;
    background: #f7f6f7;
    padding: 0.8rem 1rem;
    color: #828282;
    cursor: grab;

    & span {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        top: 0;
        width: 55px;
        height: 55px;
        font-size: 25px;
        color: #424242;
        border-radius: 40px;
        z-index: 99;

        &:hover {
            background-color: #ff5945;
        }
    }
}

.item:active {
    cursor: grabbing;
}