.add-box{
    width: 100%;
    height: 66px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.add-task {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(238, 238, 238, 0.63);
    border-radius: 30px;
    margin: 0px 0px 0px 10px;
    /*padding-left: 20px;*/
    /*margin-bottom: 25px;*/

}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: linear-gradient(90deg, #c45014 0%, #e10fb7 179.25%);
    color: #eeeeee;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

